@charset "UTF-8";

* {/*height: 100%;*/
font-family: Arial, Helvetica, sans-serif;}

 body {
    background-image: linear-gradient(to left,#13678A,#45C4B0);
 }

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #dafdba94;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 { color:#013d5c;
text-align: center;
text-shadow: 1px 1px 2px #001b29ce;}


h2 {color:#13678A;
    text-shadow: 1px 1px 2px #0e475fb0}


p {text-align: justify;}
