body { background-color: rgb(179, 252, 195);}


h1 { color: rgb(18, 88, 0);

}

h1#principal {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(2, 71, 0);
color: white;

}
h2 { color: rgb(33, 80, 22);

}

.basico {
    color: rgb(0, 0, 0);
  background-color: rgb(145, 255, 123);

}
.intermediario {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.avancado {
    color: black;
    font-style: italic;
    font-weight: bolder;
}